body {
background-color: #006af5;
}

header{
background-color: rgb(108, 189, 255);   
}

footer{
background-color: aliceblue;    
}


.cabecalho_imagem{
 width: 200px;   
 height: 200px;
 border-radius: 50%;
 padding: 10px;
}