body {
background-color: #b8a7c9d0;
}

header{
background-color: rgb(165, 115, 196);   
}

footer{
background-color: aliceblue;    
}


.cabecalho_imagem{
 width: 200px;   
 height: 200px;
 border-radius: 50%;
 padding: 10px;
}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;
}