body {
background-color: #ad59df;
}

header{
background-color: rgb(162, 25, 241);   
}

footer{
background-color: aliceblue;    
}


.cabecalho_imagem{
 width: 200px;   
 height: 200px;
 border-radius: 50%;
 padding: 10px;
}

.cabecalho_menu-listaitem{
    display: inline;
}